# ignore terraform
# this is not a final setup that should be used in production
# it doesn't cover setup for terraform state
.terraform
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup

# ignore aws
aws_setup.sh
test_es2_key.pem
*.pem

# ansible
inventory
